body {
  background: lightgray;
  font-family: sans-serif;
  padding-top: 1cm;
}

#paper {
  display: block;
  margin: 0 auto;
  background: white;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
  width: 20cm;
  height: 20cm;
}

#help {
  display: block;
  margin: 0 auto;
  padding: 0.5cm;
  width: 20cm;
}

#top {
  width: 7cm;
  height: 2cm;

  margin-top: 0.5cm;
  margin-left: 1cm;
  position: fixed;
}

#bottom {
  width: 5cm;
  height: 2cm;

  margin-top: 16cm;
  margin-left: 2cm;
  position: fixed;
}

#serial {
  margin-top: 1.3cm;
  margin-left: 17cm;
  position: fixed;
  font-size: 0.5cm;
}

#verlag {
  margin-top: 1.3cm;
  margin-left: 8.7cm;
  position: fixed;
  font-size: 0.3cm;
}

#visum {
  margin-top: 18.3cm;
  margin-left: 1.4cm;
  position: fixed;
  font-size: 0.3cm;
}

#datum {
  margin-top: 18.3cm;
  margin-left: 8.7cm;
  position: fixed;
  font-size: 0.3cm;
}

#schuetze {
  margin-top: 18.3cm;
  margin-left: 13.3cm;
  position: fixed;
  font-size: 0.3cm;
}

#round {
  margin-top: 4.3cm;
  margin-left: 4.3cm;
  background: black;
  border-color: white;
  border-radius: 50%;
  position: fixed;
  width: 11.4cm;
  height: 11.4cm;
}

@media print {

  body, #paper {
    margin: 0;
    box-shadow: none;
    background-color: white;
    padding-top: 0cm;
    border: none;
  }

  .noprint {
    display: none !important;
  }

  /* WebKit browsers */
  ::-webkit-input-placeholder {
    color: transparent;
  }

  /* Mozilla Firefox */
  ::-moz-placeholder {
    color: transparent;
  }

}